





<ion-view style="" id="page15" title="Drafted Auditions">
    <ion-content class="has-header" padding="true" >
        <form class="list" id="draftedAuditions-form17">
            <label style="" class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input placeholder="Search Auditions " type="search" ng-model="searchAudition">
            </label>



        </form>
        <div ng-repeat="x in auditions |  filter: searchAudition">
          <div style="" id="openAuditions-list-item-container7" class="item item-body">
                <div style="margin-top:0px;color:#000000;text-align:center;" id="openAuditions-markdown3">
                   <p>
                       <strong>{{x.session_name}}</strong>
                  </p>
                </div>
            <div style="margin-top:0px;color:#000000;" id="openAuditions-markdown4">
                   <p>
                    <strong>Start Date:</strong>{{x.start_date}}
                  </p>
            </div>
            <div style="margin-top:0px;color:#000000;" id="openAuditions-markdown5">
                <p>
                    <strong>End Date:</strong>{{x.end_date}}</p>
            </div>
            
            <a class="button button-positive button-small button-block button-outline icon ion-edit" id="openAuditions-button10" ng-href="#/page21/{{x.id}}">Edit Audition</a>
            
            <a class="button button-positive button-small button-block button-outline icon ion-android-upload" id="openAuditions-button11" ng-click="publishSession(x.id)">Publish Audition</a>
            <a class="button button-positive button-small button-block button-outline icon ion-android-delete" id="openAuditions-button11" ng-click="deleteSession(x.id)">Delete Audition</a>
          </div>
        </div>
    </ion-content>
</ion-view>