<ion-view title="Replace Documents" id="page12" class=" ">
    <ion-content padding="true" class="has-header" ng-controller="editDocumentsInviteCtrl">
        <div class="item item-body " id="addDocuments-list-item-container6">
            <p id="addDocuments-markdown11" style="margin-top:0px;color:#000000;" class=" ">Upload Your
                <strong>Documents (only pdf,doc,docx or txt)</strong>
            </p>
		<a id="resume-button23" style="color:#160B03;" class=" button button-balanced  button-block" ng-click="showValue()"><i class="icon ion-android-folder-open"></i> Choose Document</a>
    </ion-content>
</ion-view>