
<ion-view  title="Forget Password" id="page32" hide-nav-bar="true" style="background: url(img/QdLeTBT9KlRxxbahtdqQ_green_background.png) no-repeat center;background-size:cover;">
<ion-header-bar align-title="center" class="bar-stable">
  <div class="buttons">
   <button class="button-icon icon ion-ios-arrow-back" ng-click="back()">Back </button>
  </div>
  <i class="title">Forget Password</i>
</ion-header-bar>
    <ion-content padding="true" class="has-header" ng-controller="forgetPasswordCtrl">
    <div>
            <img style="display: block; margin-left: auto; margin-right: auto;" src="img/QCZaZ7ZRLuG0sXcdZ4Mo_destinivers3.png" height="10%" width="60%">
        </div>
   <form name="userForm"  ng-submit="submitForm()" class="list" method="post" novalidate >
    <!-- EMAIL -->
      <label id="requesterSignUp-input10" class="item item-input" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
                <input placeholder="Enter registered email id" class="form-control" type="email" name="email" ng-model="email" required/>
                </label>
                 <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" placeholder="Email" class="help-block"><font color="red">Enter a valid email id.</font></p>

      <button id="login-button4" style="font-weight:600;color:#160B03;" ng-click="passChange()" class=" button button-balanced  button-small but" ng-disabled="userForm.$invalid">Get Your Password</button>
      <form>
    </ion-content>
</ion-view>