<ion-view title="Membership Plan" id="page2" style="">
  <ion-content padding="true" class="has-header" ng-contoller="membershipCtrl">
    <div class="list card" id="page2-card21">
      <ion-item id="page2-list-item3" style=" text-align:center;background-color:#68BBE8;text-color:white"> FREE</ion-item>
      <ion-item id="page2-list-item5" style=""> 0</ion-item>
      <ion-item id="page2-list-item8" style="" class="item-text-wrap">6 MONTHS DURATION 0 DOMAIN LICENSES</ion-item>
      <ion-item class="item-icon-left" id="page2-list-item9" style="">
        <i class="icon ion-android-checkmark-circle"></i> 20+ WP Theme</ion-item>
      <ion-item class="item-icon-left" id="page2-list-item10" style="">
        <i class="icon ion-android-checkmark-circle"></i> 20+ WP Theme</ion-item>
      <ion-item class="item-icon-left" id="page2-list-item11" style="">
        <i class="icon ion-android-checkmark-circle"></i> 20+ WP Theme</ion-item>
      <ion-item class="item-icon-left" id="page2-list-item12" style="">
        <i class="icon ion-android-checkmark-circle"></i> 20+ WP Theme</ion-item>
      <ion-item class="item-icon-left" id="page2-list-item13" style="">
        <i class="icon ion-android-checkmark-circle"></i> 20+ WP Theme</ion-item>
      <button id="page2-button2" class="button button-positive  button-block button-outline" ui-sref="myDashboard">PROCEED</button>
    </div>

    <div class="list card" id="page2-card21">
       <ion-item id="page2-list-item3" style=" text-align:center;background-color:#68BBE8;text-color:white">Premium</ion-item>
       <ion-item id="page2-list-item5" style=""> 19</ion-item>
      <ion-item id="page2-list-item8" style="" class="item-text-wrap">6 MONTHS DURATION 10 DOMAIN LICENSES</ion-item>
      <ion-item class="item-icon-left" id="page2-list-item9" style="">
        <i class="icon ion-android-checkmark-circle"></i> 20+ WP Theme</ion-item>
      <ion-item class="item-icon-left" id="page2-list-item10" style="">
        <i class="icon ion-android-checkmark-circle"></i> 20+ WP Theme</ion-item>
      <ion-item class="item-icon-left" id="page2-list-item11" style="">
        <i class="icon ion-android-checkmark-circle"></i> 20+ WP Theme</ion-item>
      <ion-item class="item-icon-left" id="page2-list-item12" style="">
        <i class="icon ion-android-checkmark-circle"></i> 20+ WP Theme</ion-item>
      <ion-item class="item-icon-left" id="page2-list-item13" style="">
        <i class="icon ion-android-checkmark-circle"></i> 20+ WP Theme</ion-item>
      <button id="page2-button2" class="button button-positive  button-block button-outline" ng-click="member()">PROCEED</button>
    </div>
  </ion-content>
</ion-view>