<ion-view style="" id="page11" align-title="center" title="My Dashboard" >
    <ion-content class="has-header" padding="true" style="background: url(img/9eSR4QQ34GDpBwYPIwpn_green_background.png) no-repeat center;background-size:cover;" ng-controller="myDashboardCtrl">
        <div>
            <img style="display: block; margin-left: auto; margin-right: auto;" src="img/LHPxj62zR66qYLoTxDef_destinivers3.png" height="10%" width="50%">
        </div>
        <ion-list id="myDashboard-list7">
            <ion-item style=""  id="myDashboard-list-item2" class="item-icon-left" ng-click="checklimit()">
                <i class="icon ion-android-star"></i>Create New Audition</ion-item>
            <ion-item style=""  id="myDashboard-list-item3" class="item-icon-left" ng-click="open()">
                <i class="icon ion-ios-grid-view"></i>View Open Auditions</ion-item>
            <ion-item style=""  id="myDashboard-list-item4" class="item-icon-left" ng-click="invite()">
                <i class="icon ion-android-calendar"></i>Invite Only Auditions</ion-item>
            <ion-item style=""  id="myDashboard-list-item5" class="item-icon-left" ng-click="closed()"> 
                <i class="icon ion-android-lock"></i>Closed Auditions</ion-item>
            <ion-item style=""  id="myDashboard-list-item6" class="item-icon-left" ng-click="drafted()">
                <i class="icon ion-edit"></i>Drafted Auditions</ion-item>
            <!-- <ion-item style=""  id="myDashboard-list-item7" class="item-icon-left" ng-click="pool()">
                <i class="icon ion-ios-people"></i>Talent Pool</ion-item> -->
        </ion-list>
    </ion-content>
</ion-view>