<ion-view title="Tabs Controller" id="page1" style="">
    <ion-tabs class="tabs-stable tabs-icon-top" id="tabsController-tabs1" style="">
        <ion-tab title="Profile" icon="ion-android-person" href="#/page1/page39"id="tabsController-tab1">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Photo" icon="ion-images" href="#/page1/page40" id="tabsController-tab4">
            <ion-nav-view name="tab4"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Videos" icon="ion-videocamera" href="#/page1/page41" id="tabsController-tab5">
            <ion-nav-view name="tab5"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Answer" icon="ion-android-bulb" href="#/page1/page42" id="tabsController-tab2">
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Notes" icon="ion-compose" href="#/page1/page43" id="tabsController-tab3">
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Download" icon="ion-ios-download" href="#/page1/page44" id="tabsController-tab6">
            <ion-nav-view name="tab6"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>