
<meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval'">

<!-- Allows XHRs only over HTTPS on the same domain. -->
<meta http-equiv="Content-Security-Policy" content="default-src 'self' https:">

<!-- Allow iframe to https://cordova.apache.org/ -->
<meta http-equiv="Content-Security-Policy" content="default-src 'self'; frame-src 'self' http://destini.io/public/frontEnd/uploads/video/*">

<style type="text/css">
  

  .video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe, .video-container object, .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
</style>



</style>
<ion-view style="" id="page28" title="View Session">
    <ion-content class="has-header" padding="true" ng-controller="viewCtrl">
        
        <!--<div ng-repeat="x in auditions |  filter: searchAudition">-->
         
        <!-- <div> 
         <a class="button button-positive button-small button-block button-outline icon ion-edit" id="openAuditions-button10" ng-click="selected(x.responses_id)">Selected</a>
            <a class="button button-positive button-small button-block button-outline icon ion-android-person-add" id="openAuditions-button11"ng-click="pending(x.responses_id)">Pending</a>
            <a class="button button-positive button-small button-block button-outline icon ion-edit" id="openAuditions-button10"ng-click="trash(x.responses_id)" >Trash</a>
            <a class="button button-positive button-small button-block button-outline icon ion-edit" id="openAuditions-button10" ng-href="#/page1/page28/{{x.responses_id}}" >View</a></div> -->
          
          <ion-list id="talentPool-list12" ng-repeat="viewvideo in viewdata.video">
            <ion-item>
                
                <div class="video-container">
                    <iframe src="{{'http://destini.io/public/frontEnd/uploads/video/'+viewvideo | trustAsResourceUrl}}" frameborder="0" width="560" height="315"></iframe>
                </div>
               
            </ion-item>
        </ion-content>
      </ion-view>